* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* header style */
header {
    width: 100%;
    height: 52px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
}

.header-content {
    display: block;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    font-size: 14px;
    width: 1100px;
}

.header-content .clear {
    clear:right;
}

.header-content .logo {
    width: 100px;
    height: 100%;
    display: inline-block;
    float: left;
    
}

.logo h3 {
    text-transform: uppercase;
    font-size: 6px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.logo img {
    width: 94%;
    height: 29px;
    display: block;
    margin-bottom: 4px;
    
}

.header-menu {
    margin-left: 200px;
    display: inline-block;
    height: 52px;
}

.header-menu li {
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    margin: 15px 10px 5px 10px;
    font-weight: bold;
  
}

.tools {
    display: inline-block;
    height: 52px;
    float: right;
    width: 86px;
}
.tools img {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-top: 15px;
    margin: 15px 5px 0px 10px;
}

/* content */
.contains {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;

}
/* --------  header tags------------ */
.tags {
    width: 100%;
    display: inline-block;
    height: 30px;
    
    margin-top: 62px;
    margin-bottom: 10px;
}

.tags img{
    display: inline-block;
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.tags ul.tags-trend {
    width: 800px;
    height: 100%;
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
}

.tags ul.tags-trend li {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
    background-color: #f0f0f0;
    color: #000;
    padding-right: 12px;
    padding-left:12px;
    border: 1px solid #f0f0f0;
    border-radius: 100px
    
}

.tags ul.tags-trend li::before {
    content: "#";
    display: inline-block;
    font-size: 15px;
    color: rgba(106,106,106,0.51);
    margin-right: 5px;
}

.weather {
    display: inline-block;
    float:right;
    margin-right: 5px;
}

.weather ul.weather-content {
    display: inline-block;
    width: 100%;
    height: 30px;
    list-style-type: none;
    font-size: 14px;
    vertical-align: middle;
}

.weather ul.weather-content li {
    display: inline-block;
    margin-left: 5px;
    line-height: 15px;
    vertical-align: middle;
}

ul.weather-content li img {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
    margin: 0;
}

/* news */
div.hot-news {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

/* --------  left content------------ */
.left-content {
    display: inline-block;
    width: 30%;
    float: left;
}

.left-content ul {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    line-height: 15px;
}

.left-content ul li {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.left-content ul li img {
    display: inline-block;
    float: left;
    width: 40%;
    max-height: 80px;
    margin-right: 1%;
}

.left-content ul li p {
    font-size: 14px;
    text-align: left;
    color: black;
    font-weight: bold;
    line-height: 20px;
    width: 55%;
    float: right;
}

/* right-content */
.right-content{
    display: inline-block;
    width: 68%;
    float: right;
    
    
}

.right-content .content1 {
    display: inline-block;
    float: left;
    width: 68%;
   
    
}

.right-content .content1 img {
    display: inline-block;
    width: 100%;
    max-height: 328px;
}

.right-content .content1 h1 {
    width: 100%;
    font-weight: bold;
    text-align: left;
    font-size: 32px;
    margin-top: 10px;
}

.right-content .content1 p {
    display: block;
    font-size: 14px;
    color: #444;
    line-height: 25px;
    margin-bottom: 5px;
    
    width: 100%;
}

.right-content .content1 h3 {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    line-height: 20px;
    list-style-type: disc;
    
}

.right-content ul {
    display: inline-block;
    float: right;
    list-style-type: none;
    width: 30%;
    

}

.right-content ul li {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.right-content ul li img {
    display: block;
    width: 100%;
    max-height: 172px;
    margin-bottom: 10px;
}

.right-content ul li p {
    display: block;
    width: 100%;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
}

/* MULTIMEDIA */
.multimedia {
    display: block;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffde76;
    max-width: 1100px;
    width: calc(100% - 60px);
}

.multimedia ul.multimedia-title {
    width: 100%;
    display: inline-block;
    height: 30px;
    list-style-type: none;
    vertical-align: baseline;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

ul.multimedia-title li {
    margin-left: 30px;
    display: inline-block;
}

/* media list */

.multimedia ul.multimedia-list {
    display: inline-block;
    width: 100%;
    list-style-type: none;
}

ul.multimedia-list li {
    width: 24%;
    float: left;
    margin-left: 1.5%;
    margin-bottom: 0.9%;
    margin-top: 0.9%;
}

ul.multimedia-list li.first-child {
    width: 49%;
    margin: 0;
}


ul.multimedia-list li.first-child img {
    width: 100%;
    
}

ul.multimedia-list h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul.multimedia-list p {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    
}

ul.multimedia-list li.second-child img {
    width: 100%;
    height: 172px;
    margin-bottom: 5px;
}

ul.multimedia-list li.second-child p {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    text-align: justify;
    
}

/* BOOKS */
.books {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1100px;
    width: 100%;
    
    
}

.books h1 {
    width: 100%;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;

}

.books ul {
    width: 100%;
    list-style-type: none;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

.books ul li {
    max-height: 235px;
    width: 18%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    
    
}

.books ul li img {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.books ul li p {
    width: 94%;
    display: block;
    margin: 0 auto ;
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #333333;
    overflow: hidden;

}

/* NEWS ITEMS CONTENT */
.news-item-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    
}

.news-item-content .news-item-left {
    width: 72%;
    margin-right: 2%;
}

.news-item-left ul {
    display: inline-block;
    list-style: none;
    width: 100%;
}

.news-item-left ul li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.news-item-left ul li img {
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 15px;
}


.news-item-left ul li h1 {
    width: 68%;
    float: right;
    display: block;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-item-left ul li p {
    display: block;
    color: #888;
    line-height: 20px;
    font-size: 14px;
    text-align: left;
    float: right;
    width: 68%;

}

/* RIGHT NEWS CONTENT */
.news-item-right {
    flex: 1;

}

.news-item-right .doc-nhieu {
    display: inline-block;
    width: calc(100% - 50px); 
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ddd;
}

.doc-nhieu h3 {
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.doc-nhieu ul {
    display: inline-block;
    list-style: none;
    width: 100%;
}

.doc-nhieu ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.doc-nhieu ul li img {
    display: inline-block;
    max-width: 72px;
    max-height: 72px;
    float: left;
    margin-right: 10px;
}

.doc-nhieu ul li h4 {
    display: block;
    color: #5c5c5c;
    font-size: 11px;
    margin-bottom: 5px;
}


.doc-nhieu ul li p {
    display: block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;

}

.podcast {
    display: inline-block;
    width: calc(100% - 50px); 

    margin: 0 auto;
    padding: 25px;
    background-color: #2f2f3f;
    margin-top: 30px;
}

.podcast img.img1 {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 28px;
    margin-bottom: 10px;
}


.podcast img.img2 {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.podcast p {
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 20px;
    margin-bottom: 10px;
}

.podcast ul {
    display: block;
    list-style: none;
    
}

.podcast ul li {
    display: block;
    max-height: 49px;
    padding-top: 15px;
    border-bottom: 1px solid #888;
    padding-bottom: 15px;
    
}

.podcast ul li img.img3 {
    display: inline-block;
    float: left;
    max-width: 72px;
    max-height: 49px;
    margin-right: 10px;
    border-radius: 4px;
    
}

.podcast ul li p {
    display: block;
    text-align: left;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
}

/* LIFE STYLE */
.life-style {
    display: block;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.life-style div.clear {
    clear: left;
}

.life-style h1 {
    width: 100%;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;

}

.lifestyle-content {
    width: 100%;
}

.life-style ul {
    display: inline-block;
    width: 73%;
    list-style: none;
    float: left;
}


.life-style li.life1 {
    display: inline-block;
    margin-right: 2%;
    width: 60%;
    float: left;
}

.life-style li.life1 img {
    width: 100%;
    margin-bottom: 10px;
}

.life-style li.life1 h2 {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;
}

.life-style li.life1 p {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #444444;
    text-align: left;
    margin-bottom: 10px;
    line-height: 20px;
}

.life-style li.life2 {
    display: inline-block;
    margin-right: 20px;
    width: 34%;
    margin-bottom: 10px;
    float: right;
}

.life-style li.life2 img {
    width: 100%;
    margin-bottom: 5px;
}

.life-style li.life2 p {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    text-align: left;
    margin-bottom: 10px;
    line-height: 20px;
}


.life-style ul.ul2 {
    display: flex;
    width: 24%;
    height: 100%;
    list-style: none;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top: none;
    float: right;
}

ul.ul2 li {
    flex:1;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
    width: 100%;
    
}

ul.ul2 li p {
    display: inline-block;
    float: left;
    width: 68%;
    font-size: 14px;
    font-weight: bold;
}

ul.ul2 li img {
    display: inline-block;
    float: right;
    height: 72px;
    width: 30%;
}

/* XUAT BAN */
.multi-lists {
    max-width: 1100px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 20px;
    border-top: 2px solid black;
    
    
}

.multi-lists div.child {
    margin-top: 20px;
    width: 23%;
}




.multi-lists div.child h1 {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    

}

.child-content {
    height: initial;
    min-height: 260px;
}

.child-content img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 172px;
}

div.child p.title-item {
    display: block;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 30px;
}

div.child ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

div.child ul li {
    width: 100%;
    margin-bottom: 10px;
    flex: 1;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    
}

div.child ul li img.child-img {
    display: inline-block;
    width: 45%;
    height: 7%;
    float: left;
    margin-right: 10px;


}

div.child ul li p {
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
}

/* MAGAZINE */
div.magazine {
    display: block;
    width: 100%;
    background-color: #eee;
    padding-bottom: 20px;

}

div.magazine-content {
    display: block;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.magazine-content h1 {
    width: 100%;
    font-size: 20px;
    margin-bottom: 40px;

}

.magazine-content ul {
    display: flex;
    width: 100%;
    height: 435px;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
}

.magazine-content ul li {
    width: 260px;
    height: 100%;
    margin-right: 20px;
    background-repeat: no-repeat;

}


h1.magazine-type {
    display: block;
    width: auto;
    height: 25px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ffde76;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.magazine-content ul li div.magazine-title {
    display: block;
    width: 100%;
    margin-top: 250px;
}

.magazine-content ul li div.magazine-title::before {
    content: '';
    display: block;
    background: #ffde76;
    width: 50px;
    height: 5px;
    margin: 0 auto 15px;
}

div.magazine-title p {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
}

/* VIDEO */
div.video {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
}

.video h1 {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}

.video div.video-content {
    display: block;
    width: 100%;
    max-height: 450px;
    
}

video {
    display: inline-block;
    float: left;
    width: 72%;
   
    
}

video .clear {
    clear: left;
}

div.video-content ul {
    display: inline-block;
    width: 28%;
    list-style: none;
    background-color: #dddddd;
    overflow-y: scroll;
    max-height: 450px;
    overflow-x: hidden;
    
}

div.video-content ul li {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.video-content ul li img {
    display: inline-block;
    float: left;
    width: 120px;
    height: 80px;
    margin-right: 5px;
    
}

div.video-content ul li p {
    display: block;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    margin-right: 10px;
}

div.video-content ul li h3 {
    display: block;
    font-size: 11px;
    line-height: 20px;
    font-weight: bold;
    margin-right: 10px;
    color: #888888;
}

/* FOOTER */
.footer {
    width: 100%;
    background-color: #eee;
    margin-top: 30px;
}

.footer .footer-content{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.footer .footer-content img {
    width: 15%;
}

.footer .footer-content .left>ul {
    list-style: none;
    font-size: 12px;
    color: #888;
    line-height: 20px;
}

.footer .footer-content .right{
    width: 40%;
    margin-left: 5px;
}

.footer .footer-content .right>p {
    font-size: 12px;
    color: #888;
    line-height: 20px;
    margin-top: 70px;
}

.footer .footer-content .right>ul {
    list-style: none;
    font-size: 12px;
    color: #888;
    font-weight: bold;
    line-height: 20px;
}

.footer .footer-content .right>ul li {
    border-right: 2px solid #888888;
    padding-right: 5px;
    display: inline-block;
}

@media only screen and (max-width:1023px){
    /* HEADER */
    .header-content {
        max-width: 1100px;
        width: 100%;
    }

    .header-content .logo {
        margin-left: 50%;
        
    }

    .header-menu {
        display: none;
    }

    .header-menu li {
        list-style-type: none;
        display: inline-block;
        font-size: 14px;
        margin: 15px 10px 5px 10px;
        font-weight: bold;
    }

    /* content */
    .contains .tags {
        display: none;
    }

    div.hot-news {
        margin-top: 70px;
    }

    /* HOT NEWS */
    .left-content {
        float: right;
    }

    .right-content{
        float: left;
    }
    /* --------------- */
    /* MULTIMEDIA LIST */
    ul.multimedia-title li.media-type {
        display: none;
    }

    .multimedia ul.multimedia-title {
        font-size: 12px;
    }

    ul.multimedia-list li {
        width: 49%;
        margin-left: 0;
       
    }

    ul.multimedia-list li.first-child{
        width: 100%;
        text-align: center;
    }

    ul.multimedia-list li:nth-child(3),
    ul.multimedia-list li:nth-child(5){
        margin-left: 2%;
    
    }

    ul.multimedia-list h1 {
        font-size: 22px;
    }
    
    ul.multimedia-list p {
        font-size: 12px;
    
    }

    ul.multimedia-list li.second-child p {
        font-size: 14px;
        
    }
    /* -------------------------------------- */

    /* BOOK */
    .books ul li {
        width: 23%;
        
    }

    .books ul li:last-child {
        display: none;
        
    }
    /* --------------------------- */
    /* NEWS ITEMS CONTENT */
    .news-item-right {
        display: none;
    }

    .news-item-content .news-item-left {
        width: 100%;
        margin: 0 auto;
    }
    /* ----------------------------------- */
    /* LIFE STYLE */
    .life-style {
        display: inline-block;
    }

    .life-style ul {
        width: 100%;
        margin: 0 auto;
        margin-top: 10px; 
    }

    .life-style li.life1 {
       float:left ;
       width: 62%;
    }

    .life-style li.life2 {
        margin-right: 0;
    }

    .life-style ul.ul2 {
        display: inline-block;
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
    }

    ul.ul2 li {
        width: 47%;
        display: inline-block;
    }

    ul.ul2 li:last-child{
        display: none;
    }

    ul.ul2 li:nth-child(1), ul.ul2 li:nth-child(3){
        margin-left: 0;
    }
    ul.ul2 li:nth-child(2), ul.ul2 li:nth-child(4){
        float: right;
    }

    /* ------------------------------ */

    /* XUAT BAN */
    .multi-lists{
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .multi-lists div.child {
        display: inline-block;
        width: 47%;
    }

    .multi-lists div.child:nth-child(2),.multi-lists div.child:nth-child(4) {
        float: right;
    }

    div.child p.title-item {
        font-size: 14px;
    }


    /* ---------------------- */
    /* MAGAZINE */
    .magazine-content ul li:last-child{
        display: none;
    }
    /* ------------------------- */
    /* VIDEO */
    video {
        width: 100%;   
    }
    
    div.video-content ul {
        display: none;
        
    }
    /* FOOTER */
    .footer-content {
        width: 100%;
        display: block;
    }

    .footer-content .footer-item {
        display: inline-block;
        width: 100%;
    }

    .footer-item ul {
        display: inline-block;
        width: 100%;
        
    }
}

@media only screen and (max-width: 700px) {
    /* HEADER */
    .header-content {
        max-width: 1100px;
        width: 100%;
    }

    .header-content .logo {
        margin-left: 35%;
        
    }

    .header-menu {
        display: none; 
        
    }

    /* content */
    .contains .tags {
        display: none;

    }

    div.hot-news {
        margin-top: 70px;
    }

    /* HOT NEWS */
    .left-content {
        display: none;

    }

    .left-content ul li p {
        font-size: 11px;
    }


    .right-content{
        width: 100%;
        margin: 0 auto;
    }

    .right-content .content1 h1 {
        font-size: 20px;
    }
    
    .right-content .content1 p {
        font-size: 12px;
        
    }

    .right-content .content1 h3 {
        font-size: 12px;
        
        
    }

    .right-content ul li p {
        font-size: 12px;
        
    }
    /* ---------------------------- */
    /* MULTIMEDIA LIST */
    ul.multimedia-list h1 {
        font-size: 20px;
    }

    ul.multimedia-list li.second-child p {
        font-size: 12px;
        
    }

    /* ------------------------------------ */
    /* BOOK */
    .books ul li {
        width: 31%;
    }

    .books ul li:last-child, .books ul li:nth-child(4){ 
        display: none;
        
    }

    .books ul li p {
        font-size: 12px;
    
    }
    /* ----------------------------------- */
    /* NEWS ITEMS CONTENT */
    .left-content {
        display: none;

    }

    .news-item-content .news-item-left {
        width: 100%;
        margin: 0 auto;
    }

    .news-item-left ul li h1 {
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .news-item-left ul li p {
        font-size: 12px;
    
    }
    /* ----------------------- */
    /* LIFE STYLE */
    .life-style li.life1 {
        width: 96%;
        margin: 0 2%;
    }

    .life-style li.life1 h2, .life-style li.life1 p {
        text-align: center;
    }
    
    .life-style li.life2 {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .life-style ul.ul2 {
        width: 96%;
        margin: 1% 2%;
        border: none;
    }


    /* ------------- */
    /* XUAT BAN */
    .multi-lists{
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .multi-lists div.child {
        display: inline-block;
        width: 100%;
    }

    .child-content img {
        height: 250px;
    }

    .multi-lists div.child:nth-child(2),.multi-lists div.child:nth-child(4) {
        margin-left: 0;
    }

    /*---------------- */
    /* MAGAZINE */
    .magazine-content ul li:last-child, .magazine-content ul li:nth-child(3){
        display: none;
    }

    .magazine-content ul li:nth-child(2){
        margin-right: 0;
    }
    /* ----------------- */
    /* VIDEO */
    video {
        width: 100%;   
    }
    
    div.video-content ul {
        display: none;
        
    }

    /* FOOTER */
    .footer {
        margin-top: 360px;
    }
    
    .footer .footer-content{
        max-width: 1100px;
        margin: 0 auto;
        display: block;
        padding: 0;
    }
    
    
    .footer .footer-content .right{
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .footer .footer-content .left{
        width: 100%;
        display: block;
        text-align: center;
    }
    .footer .footer-content .right>p {
        margin-top: 0px;
    }
        
    .footer .footer-content .right>ul {
        list-style: none;
        font-size: 12px;
        color: #888;
        font-weight: bold;
        line-height: 20px;
    }
    
    .footer .footer-content .right>ul li {
        border-right: 2px solid #888888;
        padding-right: 5px;
        display: inline-block;
    }

    h1.magazine-type {
        font-size: 11px;
    }
    
}











































